.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.margin-top-80 {
  margin-top: 80px;
}

.display-4 {
  
}

.jumbotron {
  background-image: url(images/vicente.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 300px;
}

.center {
  text-align:center;
}